@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


#root {
 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  font-family: 'Dancing Script', cursive;
  height: 100vh;
  width: 100vw;
 
  display: flex;
  justify-content: center;
  
}

.imag{
 width: 100vmin;
  height: 100vh;
  position: relative;
 overflow: hidden;
  filter: blur(1px);
}

.feliz{
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  color: #ffffff;
  z-index: 1;
  text-align: center;
  animation: color 4s infinite ;
  text-shadow: 2px 2px 8px rgb(247, 247, 247);
}
.name{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  color: #ffffff;
  text-align: center;
  animation: color 4s infinite ;
  text-shadow: 2px 2px 8px rgb(247, 247, 247);
}

.phrase{
  position: absolute;
  top: 50px;
  left: 0;
  range: 0;
  padding: 20px;
    
    
  text-shadow: 2px 2px 8px rgb(247, 247, 247);

 text-align: center;
  font-size: 5vmax;

  animation: color 4s infinite ;
}

@keyframes color{ 
  0%{color: #46d829;}
  50%{color: #BC0000;}
  100%{color:  #ffffff;}
}

@media(min-width: 500px){
  .phrase{
    width: 100vmin;
   
    font-size: 6.5vmin;
  }
}