@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
#root {
 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
 
  
 /* font-family: 'Lobster Two', cursive;*/
  height: 100vh;
  width: 100vw;
 
  display: flex;
  justify-content: center;
  
}

.imag{
 width: 100vmin;
  height: 100vh;
  position: relative;

  /*filter: blur(2px);*/
 
  
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: all 0.5 linear;
  height: 100vh;
  gap: 5px;
  position: absolute;
  z-index: 1;
}

.feliz{
  font-family: 'Alfa Slab One', cursive;
  color: #ffffff;
  font-size: 6vmax;
  text-align: center;
  animation: color 4s infinite ;
  text-shadow: 2px 2px 8px #30360f;
}
.feliz-name{
  font-family: 'Lobster Two', cursive;
  color: #ffffff;
  font-size: 4.5vmax;
  text-align: center;
  animation: color 4s infinite ;
  text-shadow: 2px 2px 8px #30360f;
}
.feliz-initial{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff;
  font-size: 5vmax;
  text-align: center;
  animation: color 4s infinite ;
  text-shadow: 2px 2px 8px #30360f;
}

.phrase{
  padding: 10px;
  text-shadow: 2px 2px 8px #30360f;
  color: white;
  text-align: center;
  font-size: 3vmax;
  font-family: cursive;  
  animation: color 4s infinite ;
}

.nieve{
  width: 100vmin;
  height: 100vh;
  background-image: url('/nieve.gif');
  position: absolute;
  z-index: 1;
  opacity: 0.2;
}
@keyframes color{ 
  0%{color: #212ff5;}
  50%{color: #BC0000;}
  100%{color:  #ffffff;}
}

@media(min-width: 500px){
  .feliz{
    font-size: 8vmin;
  }
  .feliz-initial{
    top: 210px;
    font-size: 6vmin;
  }
  .feliz-name{
    top: 160px;
    font-size: 6vmin;
  }
  .phrase{
    width: 100vmin;
    height: 100vh;
    font-size: 4vmin;
    top: 250px;
  }
  
}