@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
#root {
 
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
 
  
 /* font-family: 'Lobster Two', cursive;*/
  height: 100vh;
  width: 100vw;
 
  display: flex;
  justify-content: center;
  
}

.imag{
 width: 100vmin;
  height: 100vh;
  position: relative;
 overflow: hidden;
  filter: blur(2px);
 
  
}

.feliz{
  font-family: 'Alfa Slab One', cursive;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  color: #ffffff;
  z-index: 1;
  font-size: 6vmax;
  text-align: center;
  /*animation: color 4s infinite ;*/
  text-shadow: 2px 2px 8px rgb(247, 247, 247);
}
.feliz-name{
  font-family: 'Lobster Two', cursive;
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  color: #ffffff;
  z-index: 1;
  font-size: 5vmax;
  text-align: center;
  /*animation: color 4s infinite ;*/
  text-shadow: 2px 2px 8px rgb(247, 247, 247);
}
.feliz-initial{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  top: 175px;
  left: 0;
  right: 0;
  color: #ffffff;
  z-index: 1;
  font-size: 5vmax;
  text-align: center;
 /*animation: color 4s infinite ;*/
  text-shadow: 2px 2px 8px rgb(247, 247, 247);
}

.phrase{
  position: absolute;
  top: 210px;
  
  padding: 10px;
    
  text-shadow: 2px 2px 8px rgb(247, 247, 247);
color: white;
 text-align: center;
  font-size: 3vmax;

  /*animation: color 4s infinite ;*/
}

.nieve{
  width: 100vmin;
  height: 100vh;
  background-image: url('/nieve.gif');
  position: absolute;
  z-index: 1;
  opacity: 0.2;
}
@keyframes color{ 
  0%{color: #21d5f5;}
  50%{color: #BC0000;}
  100%{color:  #ffffff;}
}

@media(min-width: 500px){
  .feliz{
    font-size: 8vmin;
  }
  .feliz-initial{
    top: 210px;
    font-size: 6vmin;
  }
  .feliz-name{
    top: 160px;
    font-size: 6vmin;
  }
  .phrase{
    width: 100vmin;
    height: 100vh;
    font-size: 4vmin;
    top: 250px;
  }
  
}